<div class="well details_panel">
    <div id="reqd_fld_err" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please provide all the bank details properly.
    </div>

    <h3> Additional Information </h3>

    <%= form_tag('/verify_first_stage_info', method: :post, :id => 'additional_info_frm') do %>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="first_name">First Name</label>
                <span class="mand">*</span>
                <%= text_field_tag 'user[first_name]', current_user.first_name, class: "form-control" %>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="last_name">Last Name</label>
                <span class="mand">*</span>
                <%= text_field_tag 'user[last_name]', current_user.last_name, class: "form-control" %>
            </div>
        </div>

        <% if !current_user.dob_verification %>
            <div class="form-group row">
                <div class="col-md-6" style="width: 90%;">
                    <label for="exiternal_account">DOB (Can be updated only once)</label>
                    <span class="mand">*</span>
                    <div class="dob_fld">
                        <%= date_select("user", "dob",  start_year: 1900, 
                                        prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } ) %>
                    </div>
                </div>
            </div>
        <% end %>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="acc_type">Legal Entity Type</label>
                <span class="mand">*</span>
                <div>
                    <select id="user_legal_entity_type" name="user[legal_entity_type]" class="custom_dropdown legal_entity_type">
                        <option value="company">Company</option>
                        <option value="individual">Individual</option>
                    </select>
                </div>
            </div>
        </div> 

        <%= submit_tag "Submit and Continue", data: { disable_with: "Please wait..." }, class: "btn btn-primary", id: "add_details" %>       
    <% end %>
</div>

<script>
    $("#add_details").on("click",(event) => {
        event.preventDefault();
        $(this).prop("disabled", false);
        verify_params(...first_stage_parameters());
    });
</script>