<div class="proof_result"></div>
<div class = "well details_panel">
    <h3> Upload Govt ID Proof</h3>
   <%= form_tag('/upload_id_proof', multipart: true) do %>
        <% if @proof.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@proof.errors.count, "error") %> prohibited this pet from being saved:</h2>
        
            <ul>
            <% @proof.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>
    
        <div class="form-group row">
            <div class="col-md-6">
                <label for="purpose">Purpose</label>
                <select id="purpose" name="proof[purpose]" class="custom_dropdown proof">
                    <option value="">Select</option>
                    <option value="business_logo">Business Logo</option>
                    <option value="customer_signature">Customer Signature</option>
                    <option value="dispute_evidence">Dispute Evidence</option>
                    <option value="identity_document">Identity Document</option>
                    <option value="pci_document">PCI Documnet</option>
                    <option value="tax_document_user_upload">Tax Document</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <%= file_field_tag 'proof[file]' %>            
            </div>            
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="personal_id_number">Personal ID Number</label>
                <span class="mand">*</span>
                <%= text_field_tag 'proof[personal_id_number]', nil, placeholder: '123456789', class: "form-control" %>
            </div>
        </div>
    
        <div class="actions">
           <%= submit_tag "Submit", class: "btn btn-primary", data: { disable_with: "Please wait..." }, id: "add_location_details" %> 
        </div>
    <% end %>
</div>


<script>
    $(document).ready( function() {
        $('input[type=file]').bootstrapFileInput();
    });
</script>