
<div class="details">
    <div class="jumbotron connect_to_stripe" style=<%= account_buttons_display %>>
        <p class="stripe_btn" style=<%= stripe_account_display %>>
            <%= link_to "Create Payment Account", "/create_account", {class: "btn btn-primary", id: "stripe_connect", remote: true} %>
            <%= image_tag "/assets/loader3.gif", id: "create_acc_loader", class: "loader", style: "display:none;" %>
        </p>
        <span class="stripe_result"></span>

        <div class="agreement" style=<%= agreement_display %>>
            <%= render 'agreement' %>
        </div>

        <span class="agreement_result"></span>
    </div>


    <div class="required_info" style="<%= display_required_info %>">
        <%= render 'required_info'%>
    </div>
</div>