<p class="stripe_btn">
    <%= link_to "Create Payment Account", "/create_account", {class: "btn btn-primary", id: "stripe_connect", remote: true} %>
</p>

<span class="stripe_result"></span>
<% display_flag =  current_user.stripe_id && !@agreement_accepted ? "display:block;" : "display:none;" %>
<div class="agreement" style="<%= display_flag %>">
    <%= render 'agreement' %>
</div>

<span class="agreement_result"></span>

<% display_required_info = @agreement_accepted ?  "display:block;" : "display:none;" %>

<div class="required_info" style="<%= display_required_info %>%">
    <%= render 'required_info'%>
</div>

