<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Connect Custom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://getbootstrap.com/2.0.4/assets/js/bootstrap-alert.js"></script>    
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
  <div class="container">
		<div class="row">
			  <div class="col-md-12">
          <%= render 'shared/nav' %>
          <% unless flash[:success].blank? %>
            <div class="alert alert-success"><%= flash[:success]  %></div>
          <%end%> 
          <%unless flash[:error].blank?%> 
            <div class="alert alert-danger"><%= flash[:error] unless flash[:error].blank? %></div>
          <%end%> 

          <%= yield %>
        </div>
	    </div>
	  </div>  
  </div>  
  </body>
</html>
